

p {color: rgb(50, 10, 80);}
h1 {
	padding: 15px;
	background-color: rgb(25, 20, 70);
	color: rgb(190, 50, 50);
}
h1:hover{
	color: green;
}
html {background-color: rgba( 70, 70, 250, 80%);}

body {
	font-size: 24px;
	font-weight: 700;
	font-variant: small-caps;
	font-style: italic;
	padding: 40px;
	text-shadow: 0 -5px 5px white;
	background-image: linear-gradient(blue, yellow );
	margin: 10px;
}
h1 {font-size: 2em;}
h2 {font-size: 1.75em;}
h3 {font-size: 1.5em;}
footer {font-size: 0.6em;}

p {
	width: 60%;
	text-indent: 1.5em;
	overflow: auto;
	border-style: dotted;
	border-color: black;
	border-width: 4px;
	margin: 20px;
	position: relative;
	left: 100px;
	padding: 35px;
	background-color: rgb(15, 100, 15);
}

footer {
	font-family: Times New Roman, serif;
	line-height: 150%;
}
body {font-family: Georgia, serif;}

section {
	position: relative;
}
a:hover{
	color: red;
}
a:visited{
	color: yellow;
}
p.tormoz:hover {
color: green;
}
p.tormoz {
	transition-duration: 3s;
	transition-delay: 2s;
}

.foto {
	background: pink; /* Цвет фона */
    margin: 0 10px 10px 0; /* Отступы справа и снизу */
    padding: 20px 0 10px 0; /* Поля сверху и снизу */
    text-align: center; /* Выравнивание по центру */
    display: inline-block; /* Строчно-блочный элемент */
    vertical-align: top; /* Выравнивание по верхнему краю */
}
figcaption {
	color: rgb(100, 20, 20);
	font-size: 20px;
}
.foto img {
	 border: 2px solid #8b8e4b; /* Параметры рамки */
	 width: 300px;

}
ul {
    background: #0083ca; /* Цвет фона */
    list-style: none; /* Убираем маркеры */
    margin: 0; padding: 0; /* Обнуляем все отступы */
    overflow: hidden; /* Отменяем обтекание */
}
li {
    float: left; /* Выстраиваем по горизонтали */
}
a.menu {
    display: block; /* Блочный элемент */
    padding: 7px 15px; /* Поля вокруг текста */
    color: black; /* Цвет текста */
}